* {
  box-sizing: border-box;
}
body{
  color: black;
}

nav{
  width: 100%;
  overflow: auto;
  background-color: white;
}
.mynav {
  background-color: white; 
  list-style-type: none;
  margin: 10px 0 0 500px;
  padding: 0;
}
.mynav li {
  float:left
  }
  
.mynav a{
text-decoration: none;
display: block;
padding: 20px 12px;
text-align: center;
color: black;

}
.logo p{
  position: absolute;
  margin-top: 30px;
  margin-left: 70px;
  font-size: small;
  border: 3px solid darkgrey;
  background-color: darkgrey;
}
#Sticky{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3.5em;
}

.container{
  width: 1450px;
 margin: 0 auto;
 background-color: #f1f1f1;
 background-size: cover;
 padding: 155px 0;
 text-align: center;
}
.container a{
  text-decoration:none ;
  color: black;
  border: 1px solid black;
  padding: 7px 7px;
  font-size: small;
}
.flex-container {
  display: flex;
  flex-wrap: nowrap;
  margin: 0 auto;
  padding: 10px 100px;
  height: 250px;
  
}
.flex-container .box {
  background-color: #f1f1f1;
  margin: 10px;
}
.flex-container .child {
  background-color: white;
  width: 110px;
 height: 35px;
 position: absolute;
transform: translate(450px, 155px);
padding-top: 10px;
padding-left: 10px;
text-align: center;

}
.flex-container .Secondchild {
  background-color: white;
  width: 110px;
 height: 20px;
 position: absolute;
transform: translate(104px, 170px);
text-align: center;

}

.flex-container .Thirdchild {
  background-color: white;
  width: 110px;
 height: 20px;
 position: absolute;
 transform: translate(104px, 170px);
text-align: center;

}

.footer{
  text-align: center;
}
.sm {
  background-color: white; 
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}
.sm a{
  text-decoration: none;
}
.sm li {
  display: inline-block;
  font-size: 20px;
  padding: 20px;
}
.fa-facebook {
  color: gray;
  border: 1px solid #f1f1f1;
  padding: 6px 6px;
  
}

.fa-twitter {
  color: gray;
  border: 1px solid #f1f1f1;
  padding: 5px 4px;
  
}
.fa-instagram {
  color: gray;
  border: 1px solid #f1f1f1;
  padding: 6px 4px;
}
