* {
  box-sizing: border-box;
}
body{
  color: black;
}
.container{
  width: 1450px;
 margin: 0 auto;
 background-color: #d3d3d3;
 background-size: cover;
 padding: 155px 0;
 text-align: center;
}
.container a{
  text-decoration:none ;
  color: black;
  border: 1px solid black;
  padding: 7px 7px;
  font-size: small;
}
.flex-container {
  display: flex;
  flex-wrap: nowrap;
  margin: 0 auto;
  padding: 10px 100px;
  height: 250px;
  
}

.flex-container .box {
  background-color: #f1f1f1;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  width: 33.3%;
}
.footer{
  text-align: center;
}